body, head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
width: 75%;
margin: 0px auto;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  position: static;
  justify-content: space-between;
  z-index: 1;
}

#digital {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.navbar {
  display: flex;
  width: 10%;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  transform: translateY(20%);
}

.headline-1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
}

.hero-section {
  background-color: #f2b880;
  display: flex;
  height: 500px;
  justify-content: space-around;
}

.hero-img img {
  display: flex;
  height: 70%;
  box-shadow: -10px -10px 0 0 #e88121;
  transform: translateY(25%);
}

.hero-text {
  width: 35%;
  align-items: center;
  
}

/* Barvy
Světlá barva pozadí: #f2b880
Tmavší barvy pozadí za obrázkem: #e88121
Barva text v oranžovém pozadí: #752400
*/
